body {
  height: 100vh;
}

.spinner {
  background: url('Components/Callback/img/loader.gif') no-repeat center;
  width: 400px;
  height: 300px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery-wrapper {
  width: 100%;
  padding: 100px 0 0 0;
}

.gallery-btn {
  position: fixed !important;
  top: 60px;
  left: 0;
}

.gallery {
  margin-top: 120px;
  max-height: 768px;
  overflow-y: scroll;
}
